td {
  white-space: normal !important;
  word-wrap: break-word;
}

table {
  table-layout: fixed;
}

.error {
  color: red;
  font-size: 20px;
  margin-top: 10px;
}

.success {
  color: green;
  font-size: 20px;
  margin-top: 10px;
}

body,
html {
  height: 100%;
  overflow: auto;
}

.nav-link.active {
  background-color: #222529;
}