<!DOCTYPE html>
<html>

<head>
    <title>Change password Form</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>

<body>
    <div class="container">
        <h2>Change password</h2>
        {{ if .error }}
        <div class="error">
            {{ .error }}
        </div>
        {{ end }}
        {{ if .success }}
        <div class="success">
            {{ .success }}
        </div>
        <meta http-equiv="refresh" content="1; URL=/tasks">
        {{ end }}
        <form class="center" action="/passChange" method="post">
            <label for="password">New Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <label for="confirm_password">Confirm New Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" required><br><br>
            <input type="hidden" name="_csrf" value="{{ .csrf }}">
            <button type="submit">Change password</button>
        </form>

        <br>
        <a href="/tasks">Back to main menu</a>
    </div>
</body>

</html>