<!DOCTYPE html>
<html>

<head>
    <title>Change password page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>
</head>

<nav class="navbar bg-dark navbar-expand-lg bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="/tasks">Tasks</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/tasks/new">Add new task</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/changePassword">Change account password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<body class="mb-2 bg-dark text-white">
    <div class="container d-flex flex-column align-items-center vh-100 mt-5">
        <h2>Change current password</h2>
        {{ if .error }}
        <div class="error mt-1">
            {{ .error }}
        </div>
        {{ end }}
        {{ if .success }}
        <div class="success mt-1">
            {{ .success }}
        </div>
        <meta http-equiv="refresh" content="1; URL=/tasks">
        {{ end }}

        <form class="text-center mt-4" action="/changePassword" method="post">
            <div class="form-group row">
                <label for="currentPassword" class="col-sm-3 text-right">Current Password:</label>
                <div class="col-sm-9">
                    <input type="password" id="currentPassword" name="currentPassword" class="form-control" required>
                </div>
            </div>

            <div class="form-group row mt-3">
                <label for="password" class="col-sm-3 text-right">New Password:</label>
                <div class="col-sm-9">
                    <input type="password" id="password" name="password" class="form-control" required>
                    <div class="mt-1" id="password-strength-bar"></div>
                </div>
            </div>

            <div class="form-group row mt-1">
                <label for="confirm_password" class="col-sm-3" style="overflow-wrap: anywhere;">Confirm
                    New Password:</label>
                <div class="col-sm-9">
                    <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
                </div>
            </div>

            <input type="hidden" name="_csrf" value="{{ .csrf }}">

            <button type="submit" class="btn btn-outline-info mx-5 mt-4">Change password</button>
        </form>

        <a href="/tasks" class="btn btn-outline-light mt-4">Back to main menu</a>
    </div>
</body>

</html>

<script>
    $(document).ready(function () {
        $('#password').on('input', function () {
            var password = $(this).val();
            var strength = zxcvbn(password).score;
            var strengthColors = ['#ff0000', '#ff7f00', '#ffbf00', '#00ff00', '#008000'];
            var strengthTexts = ['Very Weak', 'Weak', 'Fair', 'Strong', 'Very Strong'];

            var strengthBar = $('#password-strength-bar');
            strengthBar.css('background-color', strengthColors[strength]);
            strengthBar.text(strengthTexts[strength]);
        });
    });
</script>