<!DOCTYPE html>
<html>
<head>
	<title>Edit Task</title>
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<h1>Edit Task</h1>
  {{ if .error }}
  <div class="error">
      {{ .error }}
  </div>
  {{ end }}
  {{ if .success }}
  <div class="success">
      {{ .success }}
  </div>
  <meta http-equiv="refresh" content="0.2; URL=/tasks">
  {{ end }}   
  <p>* denotes required field</p>
	<form method="post" action="">
		<label for="title">Title:</label>
		<input type="text" id="title" name="title" value="{{ .Title }}" disabled>
        <label for="date">Date:</label>
        <input type="text" id="date" name="date" value="{{ .Date }}" disabled>
		<label for="description">Description*:</label>
		<textarea id="description" name="description" required style="font-size: 16px;">{{ .Description }}</textarea>
		<label for="category">Category:</label>
		<input type="text" id="category" name="category" value="{{ .Category }}">
		<label for="tags">Tags:</label>
        <div id="tags-container">
        {{ range $index, $tag := .Tags }}
            <input type="text" class="tag-input" name="tags[]" value="{{ $tag }}" autocomplete="off">
        {{ end }}
        <input type="text" class="tag-input" name="tags[]" autocomplete="off">
        </div>
        <button type="button" id="add-tag-button">Add Tag</button>
    <input type="hidden" name="_csrf" value="{{ .csrf }}">
		<button type="submit">Save</button>
	</form>
	<button onclick="cancel()">Cancel</button>
    <script>
        var title = window.location.pathname.split('/').pop();
        var task = JSON.parse(localStorage.getItem(title));
        console.log('Task retrieved from localStorage:', title);

        console.log('Task retrieved from localStorage:', task);

        if (task) {
          document.querySelector('#title').value = task.title;
          document.querySelector('#date').value = task.date;
          document.querySelector('#description').value = task.description;
          document.querySelector('#category').value = task.category;
          if (task.tags !== null) {
            document.querySelector('#tags').value = task.tags.join(',');
          }
        } else {
          // Handle error if task not found
        }
      
        var addTagButton = document.getElementById('add-tag-button');
        var tagsContainer = document.getElementById('tags-container');

        addTagButton.addEventListener('click', function() {
            var tagInput = document.createElement('input');
            tagInput.type = 'text';
            tagInput.className = 'tag-input';
            tagInput.name = 'tags[]';
            tagInput.autocomplete = 'off';
            tagsContainer.appendChild(tagInput);
            tagsContainer.appendChild(document.createElement('br'));
        });

        function cancel() {
        window.location.href = window.location.origin;
        }

      </script>
</body>
</html>
