<!DOCTYPE html>
<html>
<head>
	<title>Edit Task</title>
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<h1>Edit Task</h1>
  {{ if .error }}
  <div class="error">
      {{ .error }}
  </div>
  {{ end }}
  {{ if .success }}
  <div class="success">
      {{ .success }}
  </div>
  <meta http-equiv="refresh" content="0.2; URL=/tasks">
  {{ end }}   
  <p>* denotes required field</p>
	<form method="post" action="">
		<label for="title">Title:</label>
		<input type="text" id="title" name="title" value="{{ .task.Title }}" disabled>
    <label for="deadline">Deadline:*</label><br>
    <input type="date" id="deadline" name="deadline" value="{{ .task.Deadline }}" required><br>
		<label for="description">Description*:</label>
		<textarea id="description" name="description" required style="font-size: 16px;">{{ .task.Description }}</textarea>
		<label for="category">Category:</label>
		<input type="text" id="category" name="category" value="{{ .task.Category }}">
		<label for="tags">Tags:</label>
        <div id="tags-container">
          {{ range $index, $tag := .task.Tags }}
          <input type="text" class="tag-input" name="tags[]" value="{{ $tag }}" autocomplete="off">
        {{ end }}
        </div>
        <button type="button" id="add-tag-button">Add Tag</button>
    <input type="hidden" id="completed" name="completed">
    <input type="hidden" name="_csrf" value="{{ .csrf }}">
		<button type="submit">Save</button>
	</form>
	<button onclick="cancel()">Cancel</button>
    <script>
        var title = window.location.pathname.split('/').pop();
        var task = JSON.parse(localStorage.getItem(title));
        console.log('Task retrieved from localStorage:', title);

        console.log('Task retrieved from localStorage:', task);

        if (task && !"{{ .success }}") {
          document.querySelector('#title').value = task.title;
          document.querySelector('#deadline').value = task.deadline;
          document.querySelector('#description').value = task.description;
          document.querySelector('#category').value = task.category;
          document.querySelector('#completed').value = task.completed;

            var tagsInput = document.querySelector('#tags-container');
            for (var i = 0; i < task.tags.length; i++) {
              var container = document.createElement('div');

              var tagInput = document.createElement('input');
              tagInput.type = 'text';
              tagInput.name = 'tags[]';
              tagInput.value = task.tags[i];

              var removeButton = document.createElement('button');
              removeButton.classList.add('remove-tag-button');
              removeButton.textContent = 'x';
              removeButton.addEventListener('click', function() {
                this.parentElement.remove();
              });

              tagInput.classList.add('tag-input');
              tagInput.autocomplete = 'off';
              container.classList.add('tag-input-container');

              
              tagsInput.appendChild(container);
              
              container.appendChild(tagInput);
              container.appendChild(removeButton);
            }
          
        } else {
          // Handle error if task not found
        }
      
        var addTagButton = document.getElementById('add-tag-button');
        var tagsContainer = document.getElementById('tags-container');

        addTagButton.addEventListener('click', function() {
            var container = document.createElement('div');
            container.classList.add('tag-input-container');

            var tagInput = document.createElement('input');
            tagInput.type = 'text';
            tagInput.className = 'tag-input';
            tagInput.name = 'tags[]';
            tagInput.autocomplete = 'off';

            var removeButton = document.createElement('button');
              removeButton.classList.add('remove-tag-button');
              removeButton.textContent = 'x';
              removeButton.addEventListener('click', function() {
                this.parentElement.remove();
              });

            tagsContainer.appendChild(container);

            container.appendChild(tagInput);
            container.appendChild(removeButton);
            container.appendChild(document.createElement('br'));
        });

        function cancel() {
        window.location.href = window.location.origin;
        }

      </script>
</body>
</html>
